:root {
  --turquoise:                 #1abc9c;
  --green-sea:                 #16a085;

  --emerald:                   #2ecc71;
  --nephritis:                 #27ae60;

  --peter-river:               #3498db;
  --belize-hole:               #2980b9;

  --amethyst:                  #9b59b6;
  --wisteria:                  #8e44ad;

  --wet-asphalt:               #34495e;
  --midnight-blue:             #2c3e50;

  --sun-flower:                #f1c40f;
  --orange:                    #f39c12;

  --carrot:                    #e67e22;
  --pumpkin:                   #d35400;

  --alizarin:                  #e74c3c;
  --pomegranate:               #c0392b;

  --clouds:                    #ecf0f1;
  --silver:                    #bdc3c7;

  --concrete:                  #95a5a6;
  --asbestos:                  #7f8c8d;

  /*--palette-1: rgb(255, 97, 56);
  --palette-2: rgb(255, 255, 225);
  --palette-3: rgb(190, 235, 159);
  --palette-4: rgb(121, 189, 143);
  --palette-5: rgb(0, 163, 136);
  --palette-5-transparent: rgba(0, 163, 136, 0.85);*/

  --palette-1: #4CD4B0;
  --palette-2: #FFFCE6;
  --palette-3: #EDD834;
  --palette-4: #F24D16;
  --palette-5: #7D1424;
  --palette-5-transparent: rgba(125, 20, 36, 0.85);

  --palette-3: #e69082;
  --palette-4: #d24d61;

  --nav-color: var(--palette-1);
  --banner-color: var(--palette-2);
  --section-color-1: var(--palette-3);
  --section-color-2: var(--palette-4);
  --section-color-3: var(--palette-5);

  --color-1-dark: var(--palette-5);
  --color-1-light: var(--wet-asphalt);
  --color-2-light: var(--palette-3);
  --color-2-dark: var(--palette-4);
  --color-3-light: var(--sun-flower);
  --color-3-dark: var(--orange);
  --neutral-light: var(--clouds);
  --neutral-dark: var(--silver);
  --white-text: #fff;
  --dark-text: #124;
  --link-color: var(--palette-5);
  --link-hover-color: var(--palette-4);

  --weight-bold: 400;
  --weight-normal: 300;
}
