@import './colors.css';

.profile-page {
  width: 100%;
  height: 100%;
}

.top-section {
  background-color: var(--banner-color);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: var(--dark-text);
  font-weight: var(--weight-bold);
}

.top-section-icons {
  display: flex;
  font-size: 60px;
  width: 200px;
  justify-content: space-between;
}

.top-section-header {
  font-size: 36px;
  margin-left: 20px;
}

.tiles-container {
  height: calc(100% - 100px);
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
}

.section {
  flex: 1;
  padding: 10px 0;
}

.section-title {
  font-size: 24px;
  margin: 5px 10px 5px 10px;
  font-weight: var(--weight-bold);
}

.info-section {
  background-color: var(--section-color-1);
  color: var(--dark-text);
}

.info-row {
  display: flex;
  flex-direction: row;
  margin: 0 5px;
  padding: 10px 5px;
  align-items: flex-start;
}

.info-label {
  margin-right: 10px;
  padding-top: 5px;
}

.email-section {
  background-color: var(--section-color-2);
  color: var(--dark-text);
}

.info-section .fa.fa-warning {
  color: var(--banner-color);
}

.user-email {
  margin-right: 5px;
  font-size: 20px;
  font-weight: var(--weight-bold);
}

.email-warning-line {
  font-weight: var(--weight-bold);
  color: var(--banner-color);
  margin-top: 5px;
}

.verify-link {
  color: var(--link-color);
  margin-left: 10px;
  cursor: pointer;
}

.verify-link:hover {
  text-decoration: underline;
}